<table width=100%>
    <tr>
       <th>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" >
    <div class="card-header">ประวัติผู้จัดทำ</div>
    <div class="card-body" style="text-align: center">
      <h5 class="card-title">นายเมธา  ประทุมภา</h5>
     <img src="../../../assets/rmuti.png" alt=""  >
      <p class="card-text">งานที่ได้รับมอบหมาย ส่วนของการยืม-คืนอุปกรณ์</p>
     
    </div>
  </div></th>
  
  
  
  <th>
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">ประวัติผู้จัดทำ</div>
    <div class="card-body">
      <h5 class="card-title">นายจอมพล  กระจ่างโพธิ์</h5>
      <p class="card-text">งานที่ได้รับมอบหมาย ส่วนของการยืม-คืนอุปกรณ์</p>
    </div>
  </div>
  </th>
  
  <th>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">ประวัติผู้จัดทำ</div>
    <div class="card-body">
      <h5 class="card-title">นายวันชัย  สีหะวงษ์</h5>
      <p class="card-text">งานที่ได้รับมอบหมาย ส่วนของการยืม-คืนอุปกรณ์</p>
    </div>
  </div></th>
  </tr>
  </table>