<form (ngSubmit)="onInsert(formInsertStudent)" #formInsertStudent="ngForm">
  <div class="form-group">
    <label for="exampleFormControlInput1">รหัสอุปกรณ์</label>
    <input
      type="int"
      class="form-control"
      id="exampleFormControlInput1"
      
      name="t_id"
      ngModel
      onKeyUp="if(isNaN(this.value)){ alert('กรุณากรอกตัวเลข'); this.value='';}" 
      placeholder="กรอกเฉพาะตัวเลขเท่านั้น"
      required
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">ชื่ออุปกรณ์</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
     
      name="t_name"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">ประเภทอุปกรณ์</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      
      name="tt_id"
      ngModel
      onKeyUp="if(isNaN(this.value)){ alert('กรุณากรอกตัวเลข'); this.value='';}" 
      maxlength="2" placeholder="กรอกเฉพาะตัวเลขเท่านั้น"
      required
    />
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">จำนวน</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
     
      name="amount"
      ngModel
      onKeyUp="if(isNaN(this.value)){ alert('กรุณากรอกตัวเลข'); this.value='';}" 
      placeholder="กรอกเฉพาะตัวเลขเท่านั้น"
      required
    />
  </div>

  
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="formInsertStudent.invalid"
  >
    Submit
  </button>
</form>
