<form (ngSubmit)="onInsert(formInsertStudent)" #formInsertStudent="ngForm"> <!-- ngSubmit เมื่อกกดยืนยัน ไปยังฟอมอินเสิท st -->
  <div class="form-group">
    <label for="exampleFormControlInput1">รหัสนักศึกษา</label>
    <input
      type="int"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="กรอกเฉพาะตัวเลข"
      name="std_id"
      ngModel
      onKeyUp="if(isNaN(this.value)){ alert('กรุณากรอกตัวเลข'); this.value='';}" 
      required
    />  <!-- ngmodel เป็นฟอมของแองกูล่า-->
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">ชื่อ</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      name="fname"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">นามสกุล</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      name="lname"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">เบอร์โทรศัพท์</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="กรอกเฉพาะตัวเลข"
      name="phone"
      ngModel
      onKeyUp="if(isNaN(this.value)){ alert('กรุณากรอกตัวเลข'); this.value='';}" 
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="formInsertStudent.invalid"
  > <!-- กดยืนยันไม่ได้ถ้าฟอม ผิดพลาด-->
    Submit
  </button>
</form>
